<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <h4 class="specials-header">Club Specials</h4>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-sm-8 justify-content-center">

      <div class="day">Monday</div>

      <div class="day">Tuesday</div>

      <div class="day">Thursday</div>
      <br><br>
      <div class="day">Coming Soon</div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
<br>
<br>
